<h2>question index</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-info">
            <thead class="thead-light"> 
                <th>id</th>
                <th>title</th>
                <th>menu</th>
            </thead>
            <tbody>
            <%@questions.each do |question| %>
                <tr>
                    <td><%= question.id %></td>
                    <td><%= link_to question.title,question_path(question) %></td>
                    <td>[<%= link_to "edit",edit_question_path(question)%>][<%= link_to "delete",question_path(question),method: :delete,data:{confirm: "まじでけす？"} %>]</td> 
                </tr>
            <%end %>
            </tbody>
        </table>
        <div>
            <%= link_to "new question",new_question_path %>
        </div>
    </div>

</div>