<!DOCTYPE html>
<html>
  <head>
    <title>Kazutter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="ESOkUjo-tHqMRiE4qf0KtsGxlW3JkTyCE7JqzSNlMos" />
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container">
      <div class="container">
        <%= render "layouts/header" %>
      </div>
      <main class="container">
       <%= yield %>
      </main>
      <div class="container">
        <%= render "layouts/footer"%>
      </div>
      <%= debug(params) if Rails.env.development? %>
  </body>
</html>
